.aplayerContainer{
	width: 225px;
	bottom: 30px;
	left: 450px;
	position: absolute;
}

.audioControls {
	background-image: url("client/img/audio_controls.png");
	display: inline-block;
	height:40px;
	width:40px;
	padding:0;
	margin:0;
	cursor: pointer;
	-moz-user-select: none;	
	-webkit-user-select: none;
	-khtml-user-select: none;	
}

.trackLoaderIcon{
	background-image: url("client/img/track_loader.gif");
}

.playIcon{
	background-position: 0px -120px;
}

.playIcon:hover {
	background-position: -40px -120px;
}

.pauseIcon{
	background-position: 0px -240px;
}

.pauseIcon:hover, .playIcon:active, .playIcon:focus{
	background-position: -40px -240px;
}

.previousIcon{
	background-position: -80px -320px;
}

.previousIcon:hover, .previousIcon:active, .previousIcon:focus{
	background-position: -120px -320px;
}

.nextIcon{
	background-position: -80px -280px;
}

.nextIcon:hover, .nextIcon:active, .nextIcon:focus{
	background-position: -120px -280px;
}

.audioBarHolder{
	position: relative;
	display: inline-block;
/* 	min-height: 20px; */
	bottom:23px;
}

.volumeBarListener {
	position: absolute;
	height: 15px;
	margin-top: -4px;
	width: 90px;
	left:-4;
}

.volumeBar{
	height: 7px;
	width: 80px;
	border: 1px solid #1c1c1c;
 	border-bottom: 1px solid #494949;
 	border-right: 1px solid #444444;
 	box-shadow:inset 0 1px 3px #292929;
	-moz-border-radius: 1000px;
	-webkit-border-radius: 1000px;
	border-radius: 1000px;
	background-color: #363636;
	position: absolute;
}

.volumeSlider {
	background-image: url("client/img/audio_controls.png");
	position: absolute;
	width:14px;
	height:14px;
	top: -3px;
}

.volumeSliderNotActive {
	background-position: -93px -47px;
}

.volumeSliderActive {
	background-position: -133px -47px;
}

.volumeBarFill {
	position: absolute;
	height: 7px;
	top: 1px;
	left: 1px;
	width: 80px;	
	background: #000 url("client/img/volumeBarFill_bg.png");	
	-moz-border-radius: 100px;
	-webkit-border-radius: 100px;
	border-radius: 100px;
}

.volumeFullIcon{
	background-position: 0px 0px;
}

.volumeFullIcon:hover, .volumeFullIcon:active, .volumeFullIcon:focus{
	background-position: -40px 0px;
}

.volumeHalfIcon{
	background-position: 0px -40px;
}

.volumeHalfIcon:hover, .volumeHalfIcon:active, .volumeHalfIcon:focus{
	background-position: -40px -40px;
}

.volumeMuteIcon{
	background-position: 0px -80px;
}

.volumeMuteIcon:hover, .volumeMuteIcon:active, .volumeMuteIcon:focus{
	background-position: -40px -80px;
}

.volumeIcon{
	background-position: -80px -0px;
}

.volumeIcon:hover, .volumeIcon:active, .volumeIcon:focus{
	background-position: -120px -0px;
}


/*
.audioControls {
	background-image: url("client/img/audio_controls.png");
	display: inline-block;
	height:40px;
	width:40px;
	padding:0;
	margin:0;
	border:1px solid red;
}

.playIcon{
	background-position: 0px -120px;
}

.playIcon:hover, .playIcon:active, .playIcon:focus{
	background-position: -40px -120px;
}

.pauseIcon{
	background-position: 0px -240px;
}

.pauseIcon:hover, .playIcon:active, .playIcon:focus{
	background-position: -40px -240px;
}

.volumeFullIcon{
	background-position: 0px -80px;
}

.volumeFullIcon:hover, .volumeFullIcon:active, .volumeFullIcon:focus{
	background-position: -40px -80px;
}

.volumeHalfIcon{
	background-position: 0px -80px;
}

.volumeHalfIcon:hover, .volumeHalfIcon:active, .volumeHalfIcon:focus{
	background-position: -40px -80px;
}

.volumeMuteIcon{
	background-position: 0px -80px;
}

.volumeMuteIcon:hover, .volumeMuteIcon:active, .volumeMuteIcon:focus{
	background-position: -40px -80px;
}

.volumeIcon{
	background-position: 0px -80px;
}

.volumeIcon:hover, .volumeIcon:active, .volumeIcon:focus{
	background-position: -40px -80px;
}

.volumeSliderIcon{
	background-position: -80px -160px;
}

.previousIcon{
	background-position: 0px -80px;
}

.previousIcon:hover, .previousIcon:active, .previousIcon:focus{
	background-position: -40px -80px;
}

.nextIcon{
	background-position: 0px -80px;
}

.nextIcon:hover, .nextIcon:active, .nextIcon:focus{
	background-position: -40px -80px;
}


*/


/* ============== END OF FILE ============== */