.audioControls {
	background-image: url("client/img/audio_controls.png");
	display: inline-block;
	height:40px;
	width:40px;
	padding:0;
	margin:0;
}

.playIcon{
	background-position: 0px -160px;
}

.playIcon:hover, .playIcon:active, .playIcon:focus{
	background-position: -40px -160px;
}

.pauseIcon{
	background-position: 0px -80px;
}

.pauseIcon:hover, .playIcon:active, .playIcon:focus{
	background-position: -40px -80px;
}

.volumeFullIcon{
	background-position: 0px -80px;
}

.volumeFullIcon:hover, .volumeFullIcon:active, .volumeFullIcon:focus{
	background-position: -40px -80px;
}

.volumeHalfIcon{
	background-position: 0px -80px;
}

.volumeHalfIcon:hover, .volumeHalfIcon:active, .volumeHalfIcon:focus{
	background-position: -40px -80px;
}

.volumeMuteIcon{
	background-position: 0px -80px;
}

.volumeMuteIcon:hover, .volumeMuteIcon:active, .volumeMuteIcon:focus{
	background-position: -40px -80px;
}

.volumeIcon{
	background-position: 0px -80px;
}

.volumeIcon:hover, .volumeIcon:active, .volumeIcon:focus{
	background-position: -40px -80px;
}

.volumeSliderIcon{
	background-position: -80px -160px;
}

volumeBar{
	position: absolute;
 Ê Êdisplay: inline-block;
 Ê Êheight: 5px;
 Ê Êwidth: 40px;
 Ê Êborder: 1px solid #1c1c1c;
 	border-bottom: 1px solid #656565;
 	box-shadow:inset 0 1px 3px #292929;
 Ê Ê-moz-border-radius: 3px;
 Ê Êborder-radius: 3px;
 Ê Êbackground-color: #363636;
 Ê Ê-moz-user-select: none; Ê Ê
 Ê Ê-webkit-user-select: none;
 Ê Êbottom:16.5px;
}

.nextIcon{
	background-position: 0px -80px;
}

.nextIcon:hover, .nextIcon:active, .nextIcon:focus{
	background-position: -40px -80px;
}

.previousIcon{
	background-position: 0px -80px;
}

.previousIcon:hover, .previousIcon:active, .previousIcon:focus{
	background-position: -40px -80px;
}

.trackLoaderIcon{
	background-position: 0px -80px;
}

.trackLoaderIcon:hover, .trackLoaderIcon:active, .trackLoaderIcon:focus{
	background-position: -40px -80px;
}

/* COMMENT BECAUSE ZE CODA IS BORG */